/* ==========================================
   BODY
========================================== */

body {

    font-family: var(--font-primary);

    color: var(--color-text);

    background: transparent;

    line-height: 1.6;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    text-rendering: optimizeLegibility;

}

/* ==========================================
   SITE WATERMARK
========================================== */



/* ==========================================
   HEADINGS
========================================== */

h1,
h2,
h3,
h4,
h5,
h6 {

    margin: 0;

    color: var(--color-text);

    font-weight: 600;

    line-height: 1.1;

    letter-spacing: -.02em;

}

/* ==========================================
   PARAGRAPHS
========================================== */

p {

    margin: 0;

    color: var(--color-text-muted);

    line-height: 1.75;

}

/* ==========================================
   LINKS
========================================== */

a {

    color: inherit;

    text-decoration: none;

    transition: var(--transition);

}

/* ==========================================
   IMAGES
========================================== */

img {

    display: block;

    max-width: 100%;
    height: auto;

}