/* ==========================================
   PLACEHOLDER
========================================== */

.placeholder-label {

    position: absolute;

    right: 7%;
    bottom: 45px;

    color: rgba(255,255,255,.68);

    font-size: 12px;
    font-weight: 600;
    letter-spacing: .16em;
    text-transform: uppercase;

}